

.top-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 5rem;
}

main h1 {
    width: 30%;
}

.top-container img {
    width: 15rem;
    height: 15rem;
}

.card {
    max-width: 500px;
}

main {
    margin-top: 3rem;
    padding: 3rem;
}

.mid-container {
    display: flex;
}

footer {
    background-color: var(--clr-footer);
}