

body {
    color: var(--clr-text-primary);
    background-color: var(--clr-body);
}

.main-header {
    background-color: var(--clr-primary);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header nav {
    display: flex;
}

.main-header a {
    color: inherit;
    text-decoration: none;
    margin: 0 1rem;
}

.monitor {
    width: 10rem;
}