

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --primary-color: rgba(78,239,255,1);
    --secondary-color: white;
    --text-color: black;
    --clr-footer: #25316D;

    --ff-primary: "Montserrat", sans-serif;
    
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    --fs-900: 3rem;
}

.fw-400 { font-weight: var(--fw-400) }
.fw-500 { font-weight: var(--fw-500) }
.fw-600 { font-weight: var(--fw-600) }
.fw-700 { font-weight: var(--fw-700) }

.fs-900 { font-size: var(--fs-900) }

.card {
    border-radius: 10px;
    padding: 20px;
    padding-top: 10px;
}

.primary-color { background: var(--primary-color)}